<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧表示</title>
</head>
<body>
	<h1>商品一覧表示</h1>
	<link rel="stylesheet" href="/css/item/index.css">
	<div>
	    <!-- 新規登録ページにアクセスするためのリンク -->
	    <a href="/item/toroku">新規登録</a>
	</div>
	<table>
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>商品名</th>
	            <th>価格</th>
	        </tr>
	    </thead>
	    <tbody>
	        <!-- th:each="modelに格納したitemsオブジェクト毎に処理。" -->
	        <tr th:each="item : ${items}">
	            <td th:text="${item.id}"></td>
	            <td th:text="${item.name}"></td>
	            <td th:text="${item.price}"></td>
	            <td>
					<!-- th:action="ここに商品編集ページのコントローラパスを記述"-->
	                <form th:action="@{/item/henshu/{id}(id=${item.id})}" method="get">
	                    <input type="submit" value="編集">
	                </form>
	            </td>
	            <td>
	                <!-- th:action="ここに商品削除の実行のコントローラパスを記述"-->
	                <form th:action="@{/item/sakujo/{id}(id=${item.id})}"  method="post">
	                    <input type="submit" value="削除">
	                </form>
	            </td>
	        </tr>
	    </tbody>
	</table>
</body>
</html>